/* General Styles */
body {
  font-family: "Turret Road", sans-serif;    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #00040e, #000000);
    color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #000000;
    color: white;
  }
 
  header h1 {
    font-size: 4rem;
    color: #f3fcff;
  }

  h1{ 
    font-size: 3em;
    color: #36f57f;
  }
  h3{
    font-size: 1.6em;
  }
  
  #loginButton {
    background: #3cf536;
    border: none;
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Turret Road", sans-serif;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  .recommendation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .card {
    background: #000000;
    padding: 1rem;
    border-radius: 10px;
    width: calc(33% - 1rem);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
  }
  
  .card p {
    font-size: 0.9rem;
    color: #b3b3b3;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #000000;
    color: #b3b3b3;
  }